<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/about.css">
    <main>
        <button class="header px-5" disabled>About</button>

        <section class="content pb-3 mb-5">
            <button class="header2 px-5 py-2" disabled>The Site</button> 
            <article class="parag_temp_cont">
                <p class="py-0">
                    Jose Rizal’s “The youth is the hope of the fatherland” is already a cliché. The country need not wait for the young people to grow up and become adults to see progress and development. Despite being “bata lang”, the youth already know that they want and can work for it given and enabling environment and a proper guidance. This is also the realization of Galing Pook and its partners in the search for outstanding local governance programs. A significant number of youth organizations and Sangguniang Kabataan (SK)Councils are implementing innovative programs that transcend beyond the sports and physical fitness and focus on those that improve the lives not only of the children and youth but also the whole community in general.
                    <br><br>
                    This site aims to be a repository of the documentations of these programs. The immediate goal is for other youth organizations and SK Councils to learn what others have started, understand the lessons to avoid common pitfalls in program implementation, and come up with context-based and successful innovations. Further, the site aims to be a platform for exchanges of ideas to further develop and improve the lives of the children and youth sector.
                    <br><br>
                    The site is maintained by the #BagoTayo Network.
                    <br>
                </p>
            </article>
        </section>

        <section class="content pb-3 mb-5">
            <button class="header2 px-5 py-2" disabled>The Site</button> 
            <article class="parag_temp_cont">
                <p class="py-0">
                    Jose Rizal’s “The youth is the hope of the fatherland” is already a cliché. The country need not wait for the young people to grow up and become adults to see progress and development. Despite being “bata lang”, the youth already know that they want and can work for it given and enabling environment and a proper guidance. This is also the realization of Galing Pook and its partners in the search for outstanding local governance programs. A significant number of youth organizations and Sangguniang Kabataan (SK)Councils are implementing innovative programs that transcend beyond the sports and physical fitness and focus on those that improve the lives not only of the children and youth but also the whole community in general.
                    <br><br>
                    This site aims to be a repository of the documentations of these programs. The immediate goal is for other youth organizations and SK Councils to learn what others have started, understand the lessons to avoid common pitfalls in program implementation, and come up with context-based and successful innovations. Further, the site aims to be a platform for exchanges of ideas to further develop and improve the lives of the children and youth sector.
                    <br><br>
                    The site is maintained by the #BagoTayo Network.
                    <br>
                </p>
            </article>
        </section>

        <section class="content pb-3 mb-5">
            <button class="header2 px-5 py-2" disabled>The Site</button> 
            <article class="parag_temp_cont">
                <p class="py-0">
                    Jose Rizal’s “The youth is the hope of the fatherland” is already a cliché. The country need not wait for the young people to grow up and become adults to see progress and development. Despite being “bata lang”, the youth already know that they want and can work for it given and enabling environment and a proper guidance. This is also the realization of Galing Pook and its partners in the search for outstanding local governance programs. A significant number of youth organizations and Sangguniang Kabataan (SK)Councils are implementing innovative programs that transcend beyond the sports and physical fitness and focus on those that improve the lives not only of the children and youth but also the whole community in general.
                    <br><br>
                    This site aims to be a repository of the documentations of these programs. The immediate goal is for other youth organizations and SK Councils to learn what others have started, understand the lessons to avoid common pitfalls in program implementation, and come up with context-based and successful innovations. Further, the site aims to be a platform for exchanges of ideas to further develop and improve the lives of the children and youth sector.
                    <br><br>
                    The site is maintained by the #BagoTayo Network.
                    <br>
                </p>
            </article>
        </section>

    </main>
    <script>
        window.top.document.title = "About";
    </script>