<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/about.css">
    <main>
        <button class="header px-5" disabled>About</button>

        <section class="content pb-3 mb-5">
            <button class="header2 px-5 py-2" disabled>The Site</button> 
            <article class="parag_temp_cont">
                <p class="py-0">
                    Jose Rizal’s “The youth is the hope of the fatherland” is already a cliché. The country need not wait for the young people to grow up and become adults to see progress and development. Despite being “bata lang”, the youth already know that they want and can work for it given and enabling environment and a proper guidance. This is also the realization of Galing Pook and its partners in the search for outstanding local governance programs. A significant number of youth organizations and Sangguniang Kabataan (SK)Councils are implementing innovative programs that transcend beyond the sports and physical fitness and focus on those that improve the lives not only of the children and youth but also the whole community in general.
                    <br><br>
                    This site aims to be a repository of the documentations of these programs. The immediate goal is for other youth organizations and SK Councils to learn what others have started, understand the lessons to avoid common pitfalls in program implementation, and come up with context-based and successful innovations. Further, the site aims to be a platform for exchanges of ideas to further develop and improve the lives of the children and youth sector.
                    <br><br>
                    The site is maintained by the #BagoTayo Network.
                    <br>
                </p>
            </article>
        </section>

        <section class="content pb-3 mb-5">
            <button class="header2 px-5 py-2" disabled>The #BagoTayo Network</button> 
            <article class="parag_temp_cont">
                <p class="py-0">
                    The #BagoTayo Network is a coalition of organizations focused on the welfare and empowerment of the children and young people. It started on October 10-11, 2018 when the Galing Pook Foundation and the United Nations Children's Fund (UNICEF), in collaboration with the National Youth Commission (NYC), convened the Youth in Governance Summit. The Summit was participated in by members and officials of the Sangguniang Kabataan (SK) Councils all over the country and local as well as national youth development organizations (YDOs). Among the resolutions of the Summit was to create the #BagoTayo Network that will provide support to the SK and the YDOs in their endeavor to participate in local governance, and develop and implement 
                    innovative programs for the children and youth sectors.
                    <br><br>
                    The first major activity of the #BagoTayo Network is the conduct of the Strengthening the Children and Youth Participation in Governance – a project implemented by Galing Pook with the support of the Positive Youth Development Network (PYDN), the SIKLAB Pilipinas, SUGPAT, the Youth Peer Educators Network – Pilipinas (YPEER-Pilipinas), the Youth for Mental Health Coalition (Y4MH) and the NYC. 
                    <br><br>
                    The project was funded by UNICEF.
                    <br>
                </p>
            </article>
        </section>

        <section class="content pb-3 mb-5">
            <button class="header2 px-5 py-2" disabled>The Core Members of the #BagoTayo Network</button> 
                <article class="parag_temp_cont">
                <div class="row">
                    <div class="col-6 pydn"></div>
                    <div class="col-6">
                    <p class="py-0"> 
                    Positive Youth Development Network, Inc. (PYDN) is the Philippines’ pioneering youth development, and accrediting network, dedicated to building strong, socially-aware and sustainable youth organizations responsive to the evolving needs and opportunities of the country.
                    <br><br>
                    PYDN envisions to be the leading and most trusted network facilitating the youth involvement in nation-building at all levels. With an array of youth-led advocacies related to health, education, environment, civic-engagement, peace and security, social inclusion, governance, and economic empowerment, PYDN sets standardized processes with success indicators on these advocacies to be shared and harmonized among its network. 
                    PYDN builds the knowledge and expertise of the youth organizations on implementing programs as well as collaborating with local and global partners with a common goal of improving the people’s quality of life. Given with the right platform and support, PYDN believes that the collective actions of the impact-driven youth organizations could create bigger impacts in building a better nation.           
                    </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                    <p class="py-0">
                    Siklab Pilipinas, Inc. is a non-stock, non-profit organization duly registered and recognized by the Securities and Exchange Commission (SEC) with SEC Registration No. CN201717226. It engages primarily in development work, with a focus on youth development, social entrepreneurship, and capacity building in collaboration with its partners both local and international. 
                    Among its programs include developing Model City Councils to create more inclusive communities that will provide the enabling environment for young people to be change makers. 
                    <br>
                    </p>
                    </div>
                    <div class="col-6 siklab"></div>
                </div>
                <br>
                <div class ="row">
                    <div class="col-6 sugpat"></div>
                    <div class="col-6">
                    <p class="py-0"> 
                    SUGPAT Adolescent Development and Participation Program was established in 2015 as an initiative of the Ateneo de Zamboanga University Center for Culture and the Arts, in partnership with the United Nations Children’s Fund (UNICEF) and ING. It started as an arts for development project but eventually transformed into a social innovation program addressing adolescent programming through innovative strategies covering areas on policy, research, and barangay and youth leadership, while still continuing and even advancing the alternative education program all contributing to the vision of becoming a pioneer resource center for adolescents in the country.
                    <br><br>
                    SUGPAT implements the ING and UNICEF’s project “Power for Youth” which aims to strengthen and improve the implementation of the Department of Education’s Alternative Learning System (ALS) in Zamboanga del Norte that eventually expanded in Northern Samar in to assist in the latter in creating its own youth development alliance that aims to bridge the youth to opportunities in continuing education and training, volunteering, dignified employment, and entrepreneurial ventures.
                    <br><br>
                    In partnership with the National Youth Commission (NYC) and UNICEF, SUGPAT also implements the Masters In Arts In Governance And Development Major In Youth Development Work (MAGD-YDW), a program that focuses on the foundations of youth development, youth development in local government units, project and program development and implementation, emerging youth issues, political analysis and programs for marginalized youth.         
                    <br>
                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                    <p class="py-0">
                        Y-PEER Pilipinas also known as Y-PEER Philippines, is a youth peer education network; working with young people on sexual reproductive health and rights (SRHR). Y-PEER has networks located in many countries around the world and is also one of the largest by the membership.
                        Working predominantly with adolescent and young people on HIV prevention, Y-PEER aims to tackle some of these existing barriers through a series of live talks (webinars) and to provide condom distribution. Through the support of the YKP Emergency Relief Fund, Y-PEER initiated an online peer education programme, aimed at educating adolescents and young people on sexual health during COVID-19. Conducted through a series of web-talks, and online peer education sessions, the programme will aid in the capacity building of youth leaders. Topics in the online sessions include information on gender rights, violence prevention, drug and alcohol safety, resilience, mental health and positive coping, help-seeking, COVID-19 prevention and peer support.
                     <br>
                    </p>    
                    </div>
                    <div class="col-6 ypeer"></div> 
                </div>   
                <div class="row">
                    <div class="col-6 ymh">  </div>
                <div class="col-6">
                    <p class="py-0"> 
                        The Youth for Mental Health (Y4MH) Coalition is a group of student organizations and youth advocates that work to elevate the Filipino youth’s consciousness on mental health and end the stigma on mental illness. The Youth for Mental Health Coalition was formed in 2016 after a meeting of youth organizations from different universities who recognized the need for improved mental health services and increased awareness for mental health in the country. Prior to the meeting, there were continuous reports of suicide cases of university students, increasing number of youth with mental illnesses, and human rights violations of the mentally ill. Mental health services at that time were either unavailable, inaccessible, or unaffordable. This prompted the youth advocates to devise strategies to improve the mental health situation in the country. One strategy identified was to lobby for the passage of a Philippine legislation on mental health.
                        <br><br>
                        On October 2016, a statement of support was released by the Coalition which garnered signatures of approximately 250 student organizations across the Philippines. The statement was forwarded to the Senate Committee on Health and members of the coalition were included in the drafting team of the filed version of the bill to ensure that the youth lens is taken into account. Afterwhich, the Coalition started to organize a constituency for the bill through active recruitment and formalization of the organization. It also utilized social media as a platform for leading discussions among youth on topics related to mental health.
                        <br><br>
                        Through time, the Coalition have actively partnered with more student organizations to conduct various forums on mental health and develop ways to integrating mental health in schools.
                        <br>
                     </p>  
                    </div>
                </div>  
                    <div class="row">
                        <div class="col-6">
                        <p class="py-0"> 
                        Galing Pook is the leading resource institution that promotes innovation, sustainability, citizen empowerment, and excellence at the local level. Through Galing Pook programs, local chief executives and their teams are able to upgrade their knowledge and exchange best practices that can foster development in their own localities.
                        Galing Pook’s missions are to promote excellence in local governance through recognition, sharing of information and support of efforts to replicate best practices at the local level; and, encourage partnerships among civil society organizations, private sector, and government agencies at the local, national and global levels to improve the quality of life. 
                        <br><br>
                        Galing Pook believes that excellence in local governance is not limited to the “adults” but also the youth who must be given the proper environment so they can exercise their voice, develop and implement programs and projects, and share the benefits from said projects with the whole community.  
                        <br>          
                     </p>   
                    </div> 
                    <div class="col-6 galingpook"> </div>      
                </article>
        </section>

    </main>
    <script>
        window.top.document.title = "About";
    </script>