<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/about.css">
    <main>
        <button class="header px-5" disabled>About</button>
        <section class="content pb-3 mb-5">
            <article class="parag_temp_cont">
                <p class="py-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum fuga neque odio temporibus tenetur
                    nulla corrupti totam soluta, ipsum quisquam placeat veritatis aut beatae quia est velit minus quasi
                    dignissimos.
                    Dolores provident quae eius aspernatur veritatis vero ipsa odit? Ducimus ab expedita mollitia nisi
                    totam ex labore repellendus rem consequatur iure accusamus ratione fugit, asperiores explicabo
                    inventore dolorem laudantium reprehenderit?
                    Reprehenderit quas quos facilis cum maiores, unde quod voluptas eligendi ad voluptatibus iste minima
                    in dolorem consequatur. Voluptates doloribus repellendus cumque nulla, harum nemo laboriosam magni
                    eum temporibus, delectus architecto.
                    <br><br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos incidunt minus molestias
                    doloremque exercitationem quaerat illo nemo est, earum accusantium libero, aut ratione! Rerum cum
                    accusantium nulla molestiae laborum.
                    Consequatur iusto repellat dolorum labore quis totam, error quasi obcaecati quibusdam quaerat eaque
                    ex ad, iste sapiente rem vitae officiis aut in? Sit quia nihil, repudiandae provident tenetur earum
                    vel.
                    Beatae, culpa non voluptates fugiat unde delectus animi. Beatae recusandae facilis officiis saepe
                    nostrum doloribus vel nisi pariatur? Tempora officiis aliquam quibusdam impedit reprehenderit vitae
                    neque nam dicta numquam! Odit.
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quod id enim mollitia consectetur
                    nostrum officia voluptates at expedita iusto. Voluptatem tenetur eaque ipsum magni sed distinctio
                    repellendus cumque ullam!
                    Atque nobis in possimus natus, illum reprehenderit corporis fugiat dicta omnis velit officiis
                    reiciendis eligendi nostrum dolor ut necessitatibus perferendis. Nihil ducimus fuga odio nesciunt
                    delectus veritatis autem quia sequi?
                    Nesciunt numquam ex nemo eum quisquam accusamus illo voluptatibus dicta esse rem, corporis mollitia
                    officiis, placeat ipsam ut velit sint itaque voluptatem animi id possimus enim dolorem, libero
                    temporibus! Aut?
                    <br>
                    <a href="/contact" class="btn contactbtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                          </svg>
                    </a>
                </p>
                
            </article>
            
        </section>
    </main>