<% layout('layouts/boilerplate') %>
<main class="container-fluid">

    <link rel="stylesheet" href="css/contact.css">
    <hr> 

  <div class = "row">  
    <div class="col-6"> 
      <h1 class="contact"> Have something to say? Contact Us! </h1> 
    </div>

    <div class="col-6">
      <p> Send us a Message! </p>
    <div class="container">
        <!-- <form action="/action_page.php">  -->
          <div class="form-group">
            <label for="name"></label>
            <input type="name" class="form-control" id="name" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <label for="pnun"></label>
            <input type="pnum" class="form-control" id="pnum" placeholder="Phone Number" name="pnum">
          </div>
          <div class="form-group">
            <label for="msg"></label>
            <input type="message" class="form-control" id="msg" placeholder="Message" name="msg">
          </div>
          <br>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>

  </div>
  
      

    

    

</main>