<% layout('layouts/boilerplate') %>
<main>
 <!-- 
    <head>
        <title>Contact</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
-->
    <link rel="stylesheet" href="/css/contact.css">
  <div class = "row content">  
    <div class="col-6 contactcont"> 
      <h1 class="contact"> Have something to say? Contact Us! </h1> 
    </div>

    <div class="col-6 messagecont">
        <p class = "message mb-4"> Send us a Message! </p>
      
    <div class="container-fluid formcont">
        <form action="/contact" method="POST" novalidate class="validated-form"> 
          <div class="form-group">
            <label for="name"></label>
            <input type="name" class="form-control inputfield" id="name" placeholder="Name" name="name" required>
            <div class="valid-feedback">
              Looks good
          </div>
          </div>
          <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control inputfield" id="email" placeholder="Email" name="email" required>
            <div class="valid-feedback">
              Looks good
            </div>
          </div>
          <div class="form-group">
            <label for="pnun"></label>
            <input type="pnum" class="form-control inputfield" id="pnum" placeholder="Phone Number" name="pnum" required>
            <div class="valid-feedback">
              Looks good
            </div>
          </div>
          <div class="form-group">
            <label for="msg"></label>
            <textarea class="form-control inputfield" id="msg" name="msg" rows="3" placeholder="Enter message..." required></textarea>
            <div class="valid-feedback">
              Looks good
            </div>
          </div>
          <br>
          <button type="submit" class="btn feat_btn formsubmit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  window.top.document.title = "Contact";
</script>