<% layout('layouts/boilerplate') %>
<main class="container-fluid">
<head>
<body>
    <hr class = "new1">
    <link rel="stylesheet" href="/css/forum.css">
    <h1 id="rcorners"> FORUM </h1>
    <p> Categories </p>
    <p1> All Posts </p1>  
    <hr class ="new2">
    <h2> WELCOME! Join the Discussions! </h2>

    <div id="main"> 
        <div style="background-color:#F4E2D4;min-height:190px;"> Video goes here. </div>
    </div>

    <div id="main1"> 
        <div style="background-color:#F4E2D4;min-height:190px;"> Video goes here. </div>
    </div>

    <div id="main2"> 
        <div style="background-color:#F4E2D4;min-height:190px;"> Video goes here. </div>
    </div>

    <div class="searchbar"></div>


</body>
</head>
</body>   
</main>