<% layout('layouts/boilerplate') %>
<main class="container-fluid">

<body>
    <hr class = "new1">
    <link rel="stylesheet" href="/css/forum.css">
    <h1 id="rcorners"> FORUM </h1>
    <form>
        <div class="row">
          <div class="col">
            <button class="btn categories">Categories</button>
          </div>
          <div class="col">
            <button class="btn posts">All Posts</button>
          </div>
        </div>
    </form>
    <hr class ="new2">
    <br><br>
    <h2> WELCOME! Join the Discussions! </h2>
    
    <br> <br>
    <section class="content pb-3 mb-5 c-grid">
      <div class="card feat_card">
          <img src="https://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="#" class="btn feat_btn">Go to media</a>
          </div>
      </div>
      <div class="card feat_card">
          <img src="https://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="hhttps://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" target="_blank" class="btn feat_btn">Go to media</a>
          </div>
      </div>
      <div class="card feat_card">
          <img src="https://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="hhttps://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" target="_blank" class="btn feat_btn">Go to media</a>
          </div>
      </div>
      <div class="card feat_card">
          <img src="https://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="https://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" target="_blank" class="btn feat_btn">Go to media</a>
          </div>
      </div>
  </section>

</body>
</body>   
</main>