<% layout('layouts/boilerplate') %>
<title>FOrum</title>
<main class="container-fluid">
    <link rel="stylesheet" href="/css/forum.css">
    <button class="header px-5" disabled>Forum</button>
    <section class="content pb-3 mb-5">
        <!-- <div class="input-group mb-3">
            <button class="btn btn-outline-secondary forum_rad forum_rad1" name="categ[select]" type="button" autofocus>Categories</button>
            <button class="btn btn-outline-secondary forum_rad forum_rad2" name="categ[select]" type="button">All Posts</button>
        </div> -->
        <hr class ="new2">
        <br>
        <h2> WELCOME! Join the Discussions! </h2>
    </section>
    
    

    <section class="content pb-3 mb-5 c-grid2">
      <div class="card feat_card">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="#" class="btn feat_btn">Go to media</a>
          </div>
      </div>
      <div class="card feat_card">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="hhttps://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" target="_blank" class="btn feat_btn">Go to media</a>
          </div>
      </div>
      <div class="card feat_card">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="hhttps://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" target="_blank" class="btn feat_btn">Go to media</a>
          </div>
      </div>
      <div class="card feat_card">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="https://cdn.discordapp.com/attachments/971626811756789830/979323743618883634/unknown.png" target="_blank" class="btn feat_btn">Go to media</a>
          </div>
      </div>
  </section>
</main>
<script>
    window.top.document.title = "Forum";
</script>