<% layout('layouts/boilerplate') %>
<main class="container-fluid">

<body>
    <hr class = "new1">
    <link rel="stylesheet" href="/css/forum.css">
    <h1 id="rcorners"> FORUM </h1>

    <form>
        <div class="row">
          <div class="col">
            <p class = "cat"> CATEGORIES </p>
          </div>
          <div class="col">
            <p class = "posts"> ALL POSTS </p>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Search" width="48" height="48">
          </div>
        </div>
    </form>
    <hr class ="new2">
    <h2> WELCOME! Join the Discussions! </h2>

    <div class="container">

</body>
</body>   
</main>