<% layout('layouts/boilerplate') %>
<main class="container-fluid">
<head>
<body>
    <hr class="new1">
    <link rel="stylesheet" href="css/forum.css">
    <h1 id="rcorners"> FORUM </h1>
    <p> Categories </p>
<!--  <p1> All Posts </p1>  -->
    <hr class="new2">
    <h2> WELCOME! Join the Discussions!</h2>



</body>
</head>
</body>   
</main>