<% layout('layouts/boilerplate') %>
<main>
    <button class="header px-5" disabled>Other Materials</button>
    <section class="content pb-3 mb-5 c-grid2">
      <% for(let i=0;i<oth_data.length;i++){ %>
      <div class="card feat_card">
          <div class="card-body">
              <h5 class="card-title"><%=oth_data[i][1]%> </h5>
              <p class="card-text"><%=oth_data[i][0]%> </p>
              <p class="card-text"><%=oth_data[i][2]%> </p>
              <a href="<%=oth_data[i][3]%>" target="_blank" class="btn feat_btn btn_lrg">Go to media</a>
          </div>
      </div>
      <% } %> 
  </section>
</main>
<script>
    window.top.document.title = "Resources";
</script>