<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/res_templates.css">
    <main>
        <button class="header px-5" disabled data-aos="zoom-in">Templates</button>
        <% for(let [key,value] of Object.entries(dict_temps)){ %>
            <section class="content pb-3 mb-5" data-aos="fade-left">
                <button class="header2 px-5 py-2" disabled><%=key%></button> 
                <article class="parag_temp_cont">
                    <% for(let v of value){ %> 
                    <div class="dl_cont">
                        <p class="py-0"><a class="temp-text" href="<%=v[1]%>" target="_blank"><%=v[0]%> </a></p>
                    </div>
                    <% } %> 
                </article>
            </section>
        <% } %>  
    </main>
    <script>
        window.top.document.title = "Resources";
      </script>