<% layout('layouts/boilerplate') %>
    <main>
        <link rel="stylesheet" href="/css/contact.css">

        <section class="content pb-3 mb-5">
            <h2 class="contact mb-0" data-aos="zoom-in">Submit A Resource</h2>
            <p class="message mt-4" data-aos="zoom-in">Do you have a project or program worth emulating?<br>Share it with us.</p>
            <div class="formcont resrcform mt-4" data-aos="fade-left">
                <form action="/submitresource" method="POST" novalidate class="validated-form"> 
                  <div class="form-group">
                    <label for="name"></label>
                    <input type="name" class="form-control inputfield" id="name" placeholder="Name" name="name" required>
                    <div class="valid-feedback">
                      Looks good
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control inputfield" id="email" placeholder="Email" name="email" required>
                    <div class="valid-feedback">
                      Looks good
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="pnun"></label>
                    <input type="pnum" class="form-control inputfield" id="pnum" placeholder="Phone Number" name="num">
                  </div>
                  <div class="form-group">
                    <label for="org"></label>
                    <input type="org" class="form-control inputfield" id="org" placeholder="Organization/Local Government" name="org" required>
                    <div class="valid-feedback">
                      Looks good
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="categ"></label>
                    <select class="form-select inputfield" id="categ" name="categ" aria-label=".form-select-lg example"required>
                        <option value="" selected disabled>Type of Program as follows:</option>
                        <option value="Health">Health</option>
                        <option value="Education">Education</option>
                        <option value="Economic Empowerment">Economic Empowerment</option>
                        <option value="Social inclusion and equity">Social inclusion and equity</option>
                        <option value="Security, Governance">Security, Governance</option>
                        <option value="Active Citizenship">Active Citizenship</option>
                        <option value="Environment">Environment</option>
                        <option value="Global Mobility">Global Mobility</option>
                        <option value="Other">Other</option>
                      </select>
                    <div class="valid-feedback">
                      Looks good
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="title"></label>
                    <input type="title" class="form-control inputfield" id="title" placeholder="Title" name="title" required>
                    <div class="valid-feedback">
                      Looks good
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="desc"></label>
                    <textarea class="form-control inputfield" id="desc" name="desc" rows="4" placeholder="Description" required></textarea>
                    <div class="valid-feedback">
                      Looks good
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="link"></label>
                    <textarea class="form-control inputfield" id="link" name="link" rows="4" placeholder="Link to photos/other references (optional but highly recommended)"></textarea>
                  </div>
                  <br>
                  <button type="submit" class="btn feat_btn formsubmit">Submit</button>
                </form>
              </div>
        </section>
    </main>
    <script>
        window.top.document.title = "Submit a Resource";
    </script>