.parag_temp_cont > p{
    font-size:var(--font-size2);
    font-weight: 600;
    margin-left: 2rem !important;
    text-align: justify;
}

.parag_temp_cont{
    border-radius:0 0 1rem 1rem;
}

.pydn {
    background-image: url("/img/pydn.png");
    /* background-size: 35em 39em; */
}

.siklab {
    background-image: url("/img/siklab.png");
    background-size: 1em 9em; 
}

.sugpat {
    background-image: url("/img/sugpat.png");
    /* background-size: 35em 35em; */
}

.ypeer {
    background-image: url("/img/ypeer.png");
    /* background-size: 30em 20em; */
}

.ymh {
    background-image: url("/img/y4mh.png");
    /*background-size: 35em 39em;*/
}

.galingpook {
    background-image: url("/img/galingpook.png");
    /*background-size: 25em 19em;*/
}

.col-6 {
    /* height:100 rem; */
    background-repeat: no-repeat;
    text-align: justify;
    background-size: 100% 100%;
}