.contactbtn{
    float: right;
    border-radius: 100%;
    padding:1rem;
    background-color: var(--green);
    color:var(--white);
}
.parag_temp_cont > p{
    font-size:var(--font-size2);
    font-weight: 600;
}