:root {
    --lightbrown: #F4E2D4;
    --golden: #F4D47C;
    --orange: #FC8426;
    --green: #00850F;

    --font-family1: 'Sora', sans-serif;

    --font-size1: 1.24rem;

    --font-weight1: 800;
}

::placeholder,
:-ms-input-placeholder {
    color: var(--orange)
}

main {
    /* background-color: var(--orange); */
    height: 100vh;
}

/*NAVBAR*/
/*NAVBAR element*/
nav {
    background-color: var(--lightbrown);
    padding: 0rem 3rem !important;
    height: 4.5rem;
}

/*NAVBAR class*/
.nav-link {
    color: var(--orange) !important;
    font-family: var(--font-family1);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav {
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.navlist {
    background-color: var(--lightbrown);

}
.highlight{
    
    background-color: var(--orange);
    color:var(--golden) !important;    
    height: 4.5rem;
    border-radius: 0.7rem 0.7rem 0 0;
    display: flex;
    align-items: center;
}
/*NAVBAR element:pseudo-class*/
.form-control:focus, .btn:focus,.btn:active,.btn:checked{
    color:#212529;
    background-color:#fff;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(252, 132, 38,0.25)
}
.nav-link:hover{
    color:var(--green) !important;
}

/*NAVBAR element id*/
#logo {
    height: 2em;
    width: auto;
}

#navsearch {
    border-radius: 1.5rem 0 0 1.5rem;
    width:20em;
}

#navsearchbtn {
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: var(--green);
    border: 0.1rem solid var(--green);
    color: #FFFFFF;
}
#navsearch,#navsearchbtn{
    border: 0.1rem solid var(--orange);
}

/*Media Query*/
@media (max-width:1262px) {
    #navsearch {
        width:15em;
    }
}

@media (max-width:1080px) {
    #navsearch {
        width:12em;
    }
}

@media(max-width:991px) {
    nav {
        padding: 0.6rem 0rem !important;
    }
    .navbar-toggler {
        margin: 0 3rem;
    }
    #logo {
        margin: 0 3rem;
    }
    .navbar-nav{
        align-items: unset;
    }
    
}