:root {
    --lightbrown: #F4E2D4;
    --golden: #F3DC95;
    --orange: #A04703;
    --green: #00750E;
    --white: #FFFF;
    --black:#212529;
    --logo_blue: #02BFE8;
    --logo_red: #EF2341;
    --logo_orange: #FD8326;

    --font-family1: 'Sora', sans-serif;
    --font-family2: 'Righteous', cursive;

    --font-size_title_text: 5rem;
    --font-size_title_contact: 3rem;
    --font-size_title_p: 2rem;
    --font-size_header: 2.5rem;
    --font-size1: 1.24rem;
    --font-size2: 1.15rem;
    --font-size3: 1.1rem;

    --font-weight1: 800;
    --font-weight2: 700;
    --font-weight3: 600;
    --font-weight4: 400;
    --font-weight5: 300;
    --font-weight6: 100;


    --bord-rad_header:5rem;

    --margin-header_lr:9rem;
    --margin-header_tb:2rem;
    --margin-body_lr:10rem;
}


/*COLOR*/
/*bgcolor -lightbrown*/
nav,
footer,
.navlist {
    background-color: var(--lightbrown);
}

/*bgcolor -orange*/
body,
.highlight,
.nav-link:hover,
.highlight:hover {
    background-color: var(--orange);
}

/*color -orange*/
.nav-link,
.navbar-toggler,
.footer-text,main {
    color: var(--orange) !important;
}

/*bordercolor -orange*/
.navbar-toggler {
    border-color: var(--orange) !important;
}

/*color -white*/
.dropdown-item {
    color: var(--white);
}

/*color -yellow*/
.highlight:hover,
.nav-link:hover {
    color: var(--golden) !important;
}

/*bgcolor -green*/
#navsearchbtn,#formgrid_searchbtn,
.dropdown-menu {
    background-color: var(--green);
}

/*COLOR*/

/*NAVBAR*/
/*NAVBAR element*/
nav {
    padding: 1.5rem 3rem !important;
    height: 4.5rem;
}
main{
    font-family:var(--font-family1);
    font-size:var(--font-size3);
}
/*NAVBAR class*/
.nav-link {
    font-family: var(--font-family1);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 2rem;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0 !important;
    align-items: center;
    width: 50%;
}

.navlist {
    justify-content: space-between;
}

.highlight {
    width: 100%;
    color: var(--golden) !important;
    border-radius: 0.4rem 0.4rem 0 0;
}

/*DROPDOWN MENU*/
.dropdown-menu {
    border-radius: 0 0 0.4rem 0.4rem;
    border: 0;
    width: 30vh;
    padding: 0.5rem 0.5rem;
}

.dropdown-item {
    font-size: var(--font-size2);
    font-weight: var(--font-weight2);
}

/*NAVBAR element:pseudo-class*/
.form-control:focus{
    color: var(--black) !important;
}
.btn:focus,
.btn:active,
.btn:checked,
.btn:hover{
    background-color: var(--white) !important;
    color:var(--green) !important;
    border-color:var(--green) !important
}

.form-control:focus,
.btn:focus,
.btn:active,
.btn:checked {
    outline: 0;
    box-shadow: 0 0 0.75rem .15rem var(--orange) !important;
}
.nav-link:hover {
    width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
}
/*NAVBAR element id*/
#logo {
    height: 2em;
}

#navsearch, #formgrid_search {
    border-radius: 1.5rem 0 0 1.5rem;
}

#navsearchbtn,#formgrid_searchbtn{
    border-radius: 0 1.5rem 1.5rem 0;
    border: 0.1rem solid var(--green);
    color: var(--white);
}

#searchform {
    width: 30%;
    margin-left: 2rem;
}

#navbarSupportedContent {
    justify-content: space-between;
}

#nav #navsearch,
#navsearchbtn {
    border: 0.1rem solid var(--orange);
}
/*NAVBAR end*/

/* FOOTER */
    /*FOOTER element*/
    footer {
        padding: 0rem 3rem !important;
        text-align: center;
        font-size: var(--font-size3);
        font-weight: var(--font-weight3);
    }
        /*FOOTER class*/
    footer .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer .bi:nth-child(1){
        color:var(--logo_blue);
    }
    footer .bi:nth-child(2){
        color:var(--logo_red);
    }
    footer .bi:nth-child(3){
        color:var(--logo_orange);
    }
/*FOOTER end*/

/*CONTENT*/
.header{
    margin: var(--margin-header_tb) var(--margin-header_lr);
    background-color:var(--golden);
    color:var(--orange);
    font-weight: var(--font-weight1);
    font-family: var(--font-family2);
    border:0;
    font-size:var(--font-size_header);
    border-radius:var(--bord-rad_header);
}
.content{
    margin: 0 var(--margin-body_lr);
}
    /*about, resources/templates*/
.parag_temp_cont{
    background-color:var(--lightbrown);
    border-radius: 1rem;
    padding: 2rem 2rem 2.5rem 2rem;
    font-size: var(--font-size3);
    font-weight: var(--font-weight4);
}

    /*index, resources/videos, resources/publications*/
.dropdown_select1{
    grid-area:sorttopic;
    
}
.dropdown_select2{
    grid-area:sortold;
}
.dropdown_select1, .dropdown_select2{
    text-align:center;
    border-radius: var(--bord-rad_header);
    background-color: var(--green);
    font-weight: var(--font-weight3);
    font-size: var(--font-size3);
    color:var(--white);
    border-color:var(--green);
}
.dropdown_select1:hover, .dropdown_select2:hover{
    background-color: var(--white);
    color:var(--green);
}
.formgrid_form:focus,
.formgrid_form:active,
.formgrid_form:checked
{
    outline: 0;
    box-shadow: 0 0 0.75rem .15rem var(--lightbrown) !important;
} 
.formgrid_formhighlight{
    color:var(--lightbrown);
}

.search_formgrid{
    grid-area: search;
}
.search_sort-grid{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        'sorttopic sortold search';
}
.c-grid{
    display:grid;
    gap:2rem;
    grid-template-columns: repeat(3,1fr);
}
.c-grid2{
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(1,1fr);
}
.feat_card{
    border-radius:2rem;
    background-color: var(--lightbrown);
    padding:1rem;
    color:var(--orange) !important;
}
.feat_card > .feat_cardcontent{
    border-radius:2rem 2rem 0 0;
    height:15rem;
}
.card-title{
    font-weight: var(--font-weight2);
    color:var(--orange) !important;
}
.card-text{
    font-weight: var(--font-weight4);
    color:var(--orange) !important;
}
.feat_btn{
    margin-top: 1rem;
    background-color: var(--green);
    font-size: var(--font-size3);
    font-weight: var(--font-weight2);
    color:var(--white);
    border-radius: var(--bord-rad_header);
    width:50%;
}
.btn_lrg{
    width:15%;
}
@media(max-width:1389px){
    .search_sort-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        'sorttopic sortold'
        'search search';
    }
    .c-grid{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media(max-width:1053px){
    .search_sort-grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        'sorttopic' 
        'sortold'
        'search';
    }
    .c-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
/*CONTENT end*/

/*Media Query*/
@media (max-width:1156px) {
    .navbar-nav {
        width: auto;
    }

    #searchform {
        margin-left: 1rem;
    }

    .navbar-brand {
        margin-right: 1rem;
    }

}

@media(max-width:991px) {
    nav {
        padding: 1rem 0 2rem 0 !important
    }

    .navbar-toggler {
        margin: 0 3rem;
    }

    #logo {
        margin: 0 3rem;
    }

    #searchform {
        margin-left: 0rem;
        width: auto;
    }

    .navbar-nav {
        align-items: unset;
    }

    .nav-link {
        margin: 0.25rem 0;
    }

    .highlight {
        padding-left: 1rem;
    }

    .nav-link:hover {
        padding-left: 1rem;
    }

    #navbarSupportedContent {
        padding: 1.5rem 3rem;
    }

    .dropdown-menu {
        width: auto;
    }
}
@media(max-width:819px){
    .header{
        margin: var(--margin-header_tb) 2rem !important;
    }
    .content{
        margin: 0 3rem;
    }
}
@media(max-width:605px){
    footer .container-fluid{
        flex-direction: column;
    }
}