
body {
    background-color: var(--orange);
}

hr {
    border-top: 1px solid var(--lightbrown);
}

div {
    color:aqua;
}




/*
p {
    position: absolute;
    width: 923px;
    height: 55px;
    left: 746px;
    top: 174px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: 0.465em;
    color: #F4D47C;
}

h {
    position: absolute;
    width: 669px;
    height: 524px;
    left: 65px;
    top: 147px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 75px;
    display: flex;
    align-items: center;
    letter-spacing: 0.44em;
    color: #F4D47C;
}

.rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 564px;
    height: 465px;
    left: 746px;
    top: 265px;
    background: #F4D47C;
    border: 1px solid #F4D47C;
    border-radius: 9px;
}


.Name {
    box-sizing: border-box;
    position: absolute;
    width: 490px;
    height: 41px;
    left: 780px;
    top: 302px;
    background: #F4E2D4;
    border: 1px solid var(--orange);
    border-radius: 102px;
}


.Email {
    box-sizing: border-box;
    position: absolute;
    width: 490px;
    height: 41px;
    left: 780px;
    top: 369px;
    background: #F4E2D4;
    border: 1px solid #FC8426;
    border-radius: 102px;
}

.PNum {
    box-sizing: border-box;
    position: absolute;
    width: 490px;
    height: 41px;
    left: 780px;
    top: 439px;
    background: #F4E2D4;
    border: 1px solid #FC8426;
    border-radius: 102px;
}

.Mess {
    box-sizing: border-box;
    position: absolute;
    width: 490px;
    height: 154px;
    left: 780px;
    top: 501px;
    background: #F4E2D4;
    border: 1px solid #FC8426;
    border-radius: 21px;
}


button {
    box-sizing: border-box;
    position: relative;
    width: 229px;
    height: 72px;
    left: 901px;
    top: 701px;
    background: var(--golden);
    border: 6px solid #FC8426;
    border-radius: 101px;
}

input {
    box-sizing: border-box;
    width: 229px;
    height: 41px;
    left: 569px;
    top: 302px;
    background: #F4E2D4;
    border: 1px solid var(--orange);
    border-radius: 102px;
  }
*/