.message {
    font-family: var(--font-family2);
    font-size: var(--font-size_title_p);
    font-weight: var(--font-weight2);
    text-align: left;
    letter-spacing: 0.465em;
    color: #F4D47C;
}
.content{
    height:70vh;
}
.formcont{
    background-color:var(--lightbrown);
    border-radius: 1rem;
    padding: 1rem 2rem 2rem 2rem;
    color:var(--black);
    font-size: var(--font-size3);
    font-weight: var(--font-weight4);
}
.contactcont,.messagecont{
    display:flex;
    align-items: center;
}
.formsubmit{
    width:100%;
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.messagecont{
    flex-direction: column;
    justify-content: center;
}
.contact {
/* <<<<<<< HEAD */
    margin-top: 220px;
    margin-left: 12px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
=======
}
.inputfield{
    border-radius: 1.5rem;
    border: 0.1rem solid var(--orange);
}
@media(max-width:1204px){
    .content{
        height: 80vh;
    }
    .contact{
        text-align: center;
    }
    .col-6{
        width:100%;
    }
}