.new2 {
    border-top: 3px solid var(--lightbrown);
    width: 100%;
    margin-top:1px;
    margin-left: auto;
    margin-right: auto;
}
.forum_rad{
    border-color: var(--green);
    background-color: var(--green);
    color:var(--white);
    font-size: var(--font-size_title_p);
    font-weight: var(--font-weight2);
    padding: 0.7rem 4rem;
    border-radius: var(--bord-rad_header);
}
.forum_rad:active,.forum_rad:checked{
    background-color: var(--white) !important;
    color:var(--green) !important;
}
.forum_rad1:hover,.forum_rad1:active, .forum_rad1:checked{
    border-radius: var(--bord-rad_header) 0 0 var(--bord-rad_header) !important;
}
.forum_rad2:hover,.forum_rad2:active, .forum_rad2:checked{
    border-radius: 0 var(--bord-rad_header) var(--bord-rad_header) 0 !important;
}

#rcorners {
    border-radius: 66px;
    background: var(--golden);
    padding: 1rem; 
    width: 198px;
    height: 70px;  
    text-align: center;
  }

h1 {
    display: block;
    font-size: 2rem;
    color: var(--orange);
    margin-top: 0.75em;
    margin-bottom: 1.75em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

.bttn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: var(--green);
    border-radius: 9px;
}

.categories {
    margin-left: 234px ;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.465em;
    color: var(--golden);
    text-align: center;
}

.posts {
    margin-left: -190px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.465em;
    color: var(--golden);
}

h2 {
    font-family: 'Sora';
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: var(--golden);
}
