:root {
    --lightbrown: #F4E2D4;
    --golden: #F3DC95;
    --orange: #A04703;
    --green: #00750E;
    --white: #FFFF;
    --black:#212529;
    --logo_blue: #02BFE8;
    --logo_red: #EF2341;
    --logo_orange: #FD8326;

    --font-family1: 'Sora', sans-serif;
    --font-family2: 'Righteous', cursive;

    --font-size_title_text: 5rem;
    --font-size_title_p: 2rem;
    --font-size_header: 2.5rem;
    --font-size1: 1.24rem;
    --font-size2: 1.15rem;
    --font-size3: 1.1rem;

    --font-weight1: 800;
    --font-weight2: 700;
    --font-weight3: 600;
    --font-weight4: 400;
    --font-weight5: 300;
    --font-weight6: 100;


    --bord-rad_header:5rem;

    --margin-header_lr:9rem;
    --margin-header_tb:2rem;
    --margin-body_lr:10rem;
}


.new1 { 
    border-top: 3px solid var(--lightbrown);
  } 

.new2 {
    border-top: 3px solid #F4E2D4;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#rcorners {
    border-radius: 66px;
    background: var(--golden);
    padding: 1rem; 
    width: 198px;
    height: 70px;  
    text-align: center;
  }

h1 {
    display: block;
    font-size: 2rem;
    color: var(--orange);
    margin-top: 0.75em;
    margin-bottom: 1.75em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

.bttn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: var(--green);
    border-radius: 9px;
}

.categories {
    margin-left: 234px ;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.465em;
    color: var(--golden);
    text-align: center;
}

.posts {
    margin-left: -190px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.465em;
    color: var(--golden);
}

h2 {
    font-family: 'Sora';
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: var(--golden);
}
