
.dl_btn{
    border-radius: 50%;
    padding:.5rem;
    background-color: var(--green);
    color:var(--white);
}
.dl_cont{
    display: flex;
    align-items: center;
    margin-left: 2rem !important;
}
.dl_cont > p{
    margin:auto 0;
    font-weight: 700;
}
.dl_cont:not(:last-child){
    margin-bottom: 1.5rem !important;
}
.parag_temp_cont{
    border-radius:0 0 1rem 1rem;
}
